In [1]:
import QuantLib as ql
import pandas as pd

## The Date Class

In [4]:
date = ql.Date(31,3,2015)

print("Add a day : {0}".format(date + 1))
print("Subtract a day : {0}".format(date - 1))
print("Add a week : {0}".format(date + ql.Period(1, ql.Weeks)))
print("Add a month : {0}".format(date + ql.Period(1, ql.Months)))
print("Add a year : {0}".format(date + ql.Period(1, ql.Years)))

Add a day : April 1st, 2015
Subtract a day : March 30th, 2015
Add a week : April 7th, 2015
Add a month : April 30th, 2015
Add a year : March 31st, 2016

## The Calendar Class

In [5]:
date = ql.Date(31, 3, 2015)
us_calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
italy_calendar = ql.Italy()
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)
print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in US: {0}".format(us_date))
print("Add 60 business days in Italy: {0}".format(italy_date))

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

In [6]:
## Count number of business days
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)
print("Business days US: {0}".format(us_busdays))
print("Business days Italy: {0}".format(italy_busdays))

Business days US: 60
Business days Italy: 60

JointCalendar allows us to combine multiple calendars' holidays.

In [7]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)
print("Add 60 business days in US-Italy: {0}".format(joint_date))
print("Business days US-Italy: {0}".format(joint_busdays))

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60

## Schedule Class  
The **Schedule** object is necessary in creating coupon schedules or call schedules. Schedule object
constructors have the following signature:

In [17]:
effective_date = ql.Date(1, 1, 2015)
first_date = ql.Date(15,1,2015)
termination_date = ql.Date(1, 1, 2016)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = False
schedule = ql.Schedule(
    effective_date,
    termination_date,
    tenor,
    calendar,
    business_convention,
    termination_business_convention,
    date_generation,
    end_of_month,
    first_date
)
pd.DataFrame({'date': list(schedule)})

                    date
0      January 2nd, 2015
1     January 15th, 2015
2    February 17th, 2015
3       March 16th, 2015
4       April 15th, 2015
5         May 15th, 2015
6        June 15th, 2015
7        July 15th, 2015
8      August 17th, 2015
9   September 15th, 2015
10    October 15th, 2015
11   November 16th, 2015
12   December 15th, 2015
13     January 4th, 2016

## Interest Rate  
The **InterestRate** class can be used to store the interest rate with the compounding type, day
count and the frequency of compounding. Below we show how to create an interest rate of 5.0%
compounded annually, using Actual/Actual day count convention.

In [18]:
annual_rate = 0.05
day_count = ql.ActualActual(ql.ActualActual.ISDA)
compound_type = ql.Compounded
frequency = ql.Annual
interest_rate = ql.InterestRate(annual_rate,
day_count,
compound_type,
frequency)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding